
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: rgb(133, 29, 29);
  outline: 1px solid white;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

 
.chatbox {
 height: 520px;
 overflow: hidden;
}

.roundedlg {
  border-radius: 1rem;
}
.chatAreaHeaderLight {
	background-color: #4e94dc;
}


input::placeholder {
  font-size: 0.9rem;
  color: #999;
}